<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension point="org.eclipse.ui.editors">
      <editor name="OWL Graphic Editor"
              extensions="ogeditor"
              icon="ogeditor.gif"
              default="true"
              class="cn.edu.pku.ogeditor.ShapesEditor"
              contributorClass="cn.edu.pku.ogeditor.ShapesEditorActionBarContributor"
              id="OWL Graphic Editor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <category
            id="cn.edu.pku.ogeditor.newWizard"
            name="OWL Graphic Editor"/>
      <wizard name="OWL Graphic Editor"
              icon="ogeditor.gif"
              category="cn.edu.pku.ogeditor.newWizard"
              class="cn.edu.pku.ogeditor.ShapesCreationWizard"
              id="cn.edu.pku.ogeditor.ShapesCreationWizard">
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="cn.edu.pku.ogeditor.views"
            name="OWL Graphic Editor">
      </category>
         <view
               category="cn.edu.pku.ogeditor.views"
               class="cn.edu.pku.ogeditor.views.DecriptionView"
               id="cn.edu.pku.ogeditor.views.descriptionView"
               name="Description">
         </view>
         <view
               category="cn.edu.pku.ogeditor.views"
               class="cn.edu.pku.ogeditor.views.HierarchyView"
               id="cn.edu.pku.ogeditor.views.hierarchyView"
               name="Hierarchy"
               restorable="true">
         </view>
         <view
               category="cn.edu.pku.ogeditor.views"
               class="cn.edu.pku.ogeditor.views.TestView"
               id="test"
               name="test"
               restorable="true">
         </view>
         <view
               category="cn.edu.pku.ogeditor.views"
               class="cn.edu.pku.ogeditor.views.ConceptOutlineView"
               id="cn.edu.pku.ogeditor.views.ConceptOutlineView"
               name="Concept Outline"
               restorable="true">
         </view>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="OWL Graphic Editor">
         <propertyCategory
               category="all"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="OWL Graphic Editor">
         <propertyTab
               category="all"
               id="basicTab"
               label="Basic">
         </propertyTab>
         <propertyTab
               afterTab="basicTab"
               category="all"
               id="dataPropertyTab"
               label="DataProperty">
         </propertyTab>
         <propertyTab
               afterTab="basicTab"
               category="all"
               id="objectPropertyTab"
               label="ObjectProperty">
         </propertyTab>
         <propertyTab
               afterTab="dataPropertyTab,objectPropertyTab"
               category="all"
               id="descriptionTab"
               label="Descrpition">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="OWL Graphic Editor">
         <propertySection
               class="cn.edu.pku.ogeditor.properties.ShapeBasicSection"
               id="shapeBasicSection"
               tab="basicTab">
            <input
                  type="cn.edu.pku.ogeditor.parts.ShapeEditPart">
            </input>
            <input
                  type="cn.edu.pku.ogeditor.parts.ShapeTreeEditPart">
            </input>
         </propertySection>
         <propertySection
               class="cn.edu.pku.ogeditor.properties.ConnectionBasicSection"
               id="connectionBasicSection"
               tab="basicTab">
            <input
                  type="cn.edu.pku.ogeditor.parts.ConnectionEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="shapeBasicSection"
               class="cn.edu.pku.ogeditor.properties.DataPropertySection"
               id="dataPropertySection"
               tab="dataPropertyTab">
            <input
                  type="cn.edu.pku.ogeditor.parts.ShapeEditPart">
            </input>
            <input
                  type="cn.edu.pku.ogeditor.parts.ShapeTreeEditPart">
            </input>
         </propertySection>
         <propertySection
               class="cn.edu.pku.ogeditor.properties.DiagramBasicSection"
               id="diagramBasicSection"
               tab="basicTab">
            <input
                  type="cn.edu.pku.ogeditor.parts.DiagramEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="shapeBasicSection"
               class="cn.edu.pku.ogeditor.properties.FontSection"
               id="fontSection"
               tab="basicTab">
            <input
                  type="cn.edu.pku.ogeditor.parts.ShapeEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="shapeBasicSection"
               class="cn.edu.pku.ogeditor.properties.ColorSection"
               id="colorSection"
               tab="basicTab">
            <input
                  type="cn.edu.pku.ogeditor.parts.ShapeEditPart">
            </input>
         </propertySection>
         <propertySection
               class="cn.edu.pku.ogeditor.properties.DescriptionSection"
               id="descriptionSection"
               tab="descriptionTab">
            <input
                  type="cn.edu.pku.ogeditor.parts.ShapeEditPart">
            </input>
            <input
                  type="cn.edu.pku.ogeditor.parts.ConnectionEditPart">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:cn.edu.pku.ogeditor.views.hierarchyView?after=additions">
         <command
               commandId="cn.edu.pku.ogeditor.commands.createChild"
               icon="icons/cut_edit.gif"
               tooltip="Create a Lower Level Ontology">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands related to the Hierarchy View"
            id="cn.edu.pku.ogeditor.commands.category"
            name="Hierarchy">
      </category>
      <command
            categoryId="cn.edu.pku.ogeditor.commands.category"
            description="Create a Lower Level Ontology"
            id="cn.edu.pku.ogeditor.commands.createChild"
            name="Create a Lower Level Ontology">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="cn.edu.pku.ogeditor.handlers.CreateChildHandler"
            commandId="cn.edu.pku.ogeditor.commands.createChild">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="cn.edu.pku.ogeditor.ShapesEditorPerspective"
            icon="ogeditor.gif"
            id="cn.edu.pku.perspective"
            name="OWL Graphic Editor">
      </perspective>
   </extension>
</plugin>
